#include("/template/common/layout/_page_layout.html")
#@layout()

#define css()
<style>

</style>
#end

#define js()
<script type="text/javascript">
    layui.use(['table', 'layer'], function () {
        var table = layui.table
            , layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;


        var tableIns = table.render({
            elem: '#dateTable'
            , id: 'dateTable'
            , even: true
            , size: 'sm'
            , height: 'full-150'
            , cols: [[
                {checkbox: false, sort: true, fixed: true, space: true}
                , {field: 'id', title: 'ID', width: 60}
                , {field: 'lastUpdAcct', title: 'user', width: 100}
                , {field: 'url', title: 'request url', width: 180}
                , {field: 'from', title: 'from', width: 180}
                , {field: 'ip', title: 'ip', width: 140}
                , {field: 'browser', title: 'browser', width: 120}
                , {field: 'operation', title: 'operation', width: 80}
                , {field: 'createDate', title: 'Access time', width: 150}
            ]]
            , url: '#(ctxPath)/system/log/tableData'
            , method: 'get'
            , request: {
                pageName: 'pageNumber'
                ,limitName: 'pageSize'
            }
            , page: true
            , limits: [30, 60, 90, 150, 300]
            , limit: 30
            , loading: true
            , done: function (res, curr, count) {
            }
        });

        reloadTableQuery = function () {
            table.reload('dateTable', {
                url: '#(ctxPath)/system/log/tableData'
                ,where: {ip: $('#ip').val(), url: $('#url').val(), userName: $('#userName').val()}
            });
        }

        reloadTable = function (ip, url, userName) {
            table.reload('dateTable', {
                url: '#(ctxPath)/system/log/tableData'
                ,where: {ip: ip, url: url, userName: userName}
            });
        }

        form.on('submit(search)', function(data){
            reloadTable(data.field.ip, data.field.url, data.field.userName);
            return false;
        });
    });
</script>
#end

#define content()
<div class="layui-fluid">
    <form id="searchForm" class="layui-form x-center" >
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">user</label>
                <div class="layui-input-inline">
                    <input type="text" id="userName" name="userName" placeholder="user" class="layui-input"/>
                </div>
                <label class="layui-form-label">IP</label>
                <div class="layui-input-inline">
                    <input type="text" id="ip" name="ip" placeholder="IP" class="layui-input"/>
                </div>
                <label class="layui-form-label">URL</label>
                <div class="layui-input-inline">
                    <input type="text" id="url" name="url" placeholder="request URL" class="layui-input"/>
                </div>
                <div class="layui-input-inline" style="width : 80px">
                    <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="layui-row">
        <table id="dateTable" lay-filter="dateTable"></table>
    </div>
</div>

#end